.block
  .product
    %img{:src => "shirt.png"}/
    .buttons
      %a.buy{:href => "#"} Add to cart
      %a.preview{:href => "#"} View item
  .info
    %h4 Armillaria luteobubalina is a species of mushroom
    %span.description
      Rwanda is a country in central and eastern Africa located a few degrees south of the Ecuator.
    %span.price $62.97
    %a.buy_now{:href => "#"} Buy Now
  .details
    %span.time 12 hours ago
    %ul.rating
      %li.rated
      %li.rated
      %li.rated
      %li
      %li
