.row
  #shirt.col-lg-4
    = image_tag 'shirt.png', class: 'img-rounded'
  #shirt.col-lg-4 
    = image_tag 'shirt.png', class: 'img-rounded'
  #shirt.col-lg-4 
    = image_tag 'shirt.png', class: 'img-rounded'
